.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 2rem;
  }
  
  .dropzone-container {
    border: 2px dashed #cccccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 20px 5px;
  }
  
  .dropzone-container:hover {
    background-color: #f9f9f9;
  }
  
  .music-player-container {
    width: 600px;
    margin-top: 10px;
  }