.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .dropzone-container {
    border: 2px dashed #ddd;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .dropzone-container p {
    margin: 0;
  }
  
  .music-player-container {
    margin-top: 20px;
  }
  
  .clear-playlist-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .clear-playlist-button:hover {
    background-color: #d43c26;
  }